<html lang="en" ng-controller="AppCtrl" ng-app="MyApp">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Scrap The World - {{ getConnectionId() }}</title>

    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link href="../Content/index.css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/png" href="http://iconshow.me/media/images/Mixed/line-icon/png/256/world-256.png" />
</head>
<body>

<md-menu>
    <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
        <md-icon class="material-icons">menu</md-icon>
    </md-button>
    <md-menu-content width="4">
        <md-menu-item>
            <md-button ng-click="flow()">
                <md-icon class="material-icons">dashboard</md-icon>
                Flow
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="scripts()">
                <md-icon class="material-icons">code</md-icon>
                Scripts
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="clear()">
                <md-icon class="material-icons">clear</md-icon>
                Clear
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-switch ng-model="data.notify" aria-label="Notify" class="md-warn switch">
                Notify
            </md-switch>
        </md-menu-item>
    </md-menu-content>
</md-menu>

<div class="center">
    <img src="../content/world.jpg" class="bg" />
    <a href="http://www.freepik.com/free-vector/polygonal-earth_794390.htm" class="credit">Designed by Freepik</a>
</div>

<form layout layout-align="center" layout-padding>
    <div layout="row" class="search" flex>
        <md-input-container flex class="md-icon-float md-block md-title">
            <label>Search...</label>
            <input type="text" ng-model="data.searchText" my-enter="search(searchText)" placeholder="flow/node key1 value1 key2 value2..."/>
        </md-input-container>
        <div>
            <md-button class="md-raised" ng-click="search()">
                <md-icon class="material-icons">search</md-icon>
            </md-button>
        </div>
    </div>
</form>


<div ng-cloak="">
    <md-content>
        <md-list flex>
            <md-subheader class="md-no-sticky">Results</md-subheader>
            <md-list-item class="md-3-line" ng-repeat="item in results" ng-click="null">
                <md-icon class="material-icons">{{ item.Image }}</md-icon>
                <div class="md-list-item-text" layout="column">
                    <h3>{{ item.Data }}</h3>
                    <h4>{{ item.Time }}</h4>
                </div>
            </md-list-item>
        </md-list>
    </md-content>
</div>

<!-- Angular Material requires Angular.js Libraries -->
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>

<!-- Angular Material Library -->
<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>

<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/signalr.js/2.2.2/jquery.signalR.min.js"></script>
<script src="http://localhost:8080/signalr/hubs"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-signalr-hub/1.6.2/signalr-hub.min.js"></script>

<script src="../Scripts/index.js"></script>

</body>
</html>